<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="data:,">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/a5dc29ca0c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>my TODO-List</title>
  </head>
  <body>
    <div class="container">
      <div class="contentWrap">
        <div class="box" id="heading">
          <h2><%= thisDay %></h2>
          <h1>MY LISTS</h1>
        </div>
    
        <div class="box">
          <form class="add" action="/addList/new" method="post" >
            <input type="text" name="newListName" placeholder="New List Name" autofocus />
            <button class="add" type="submit"><i class="fas fa-plus"></i></button>
          </form>
        </div>
    
        <div class="box scroll">
    
          <form action="/deleteList" method="post">
            <% lists.forEach((list)=>{ %>
              <div class="item">
                <button class="delete" type="submit" name="checked" value= <%= list._id %> ><i class="fas fa-trash-alt"></i></button>
                <a href="/<%= list.name %>"><p><%= list.name %></p></a>
              </div>
            <% }) %>

          </form>
        </div>
    
    
        
        <footer>
          <p>Made with ❤ by Akpasi Favour </p>
        </footer>
      </div>
    </div>

  </body>
</html>
