html {
  font-family: "helvetica neue";
}

.container{
  min-height: 100%;
}

a{
  text-decoration: none;
}

h1, h2, h3 {
  color: #fff;
  padding: 5px;
  margin: 0;
}

.box {
  max-width: 400px;
  margin: 20px auto;
  background: #F7F5F2;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.scroll{
  max-height: 250px;
  overflow-y: scroll;
}

#heading {
  background-color: rgb(12, 156, 12);
  text-align: center;
}

.item {
  margin-left: 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #019267;
}

.add{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #019267;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}


button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: rgb(12, 156, 12);
  color: #fff;
  font-size: 1rem;
  padding-bottom: 0px;
  border-width: 0;
}

.delete {
  background-color: red;
  font-size: 1rem;
  min-height: 50px;
  border-radius: 10%;
  padding: 0;
}


.list p {
  font-weight: 300;
  font-size: 1.5rem;
  margin-left: 1rem;
}

input[type="text"] {
  outline: none;
  border: none;
  text-align: center;
  height: 60px;
  top: 10px;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  border-bottom: 1px solid green;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  display: flex;
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 0;
  height: 2rem;
  justify-content: center;
}
footer p {
  font-weight: bold;
  font-size: 1rem;
  padding: 0;
}